@import compass/reset
@import partials/base
@import 960/grid
@import compass/utilities/general/tag-cloud
//+tag-cloud(14px)
// This method will generate a range of classes to `@extend`
+modular-scale-classes(6)

/*
 * Default Styles
 * ----------------------
 */
body
  font-family: Arial, sans-serif

h1 /* Primarily used on white backgrounds*/
  @extend .ms-4
  +primary-foreground

h2
  @extend .ms-3

h3 /* Primarily used on white backgrounds*/
  @extend .ms-2

h4
  @extend .ms-1

p
  @extend .ms-0

a
  +secondary-foreground
  text-decoration: none

.column-2
  width: ($wrapper-width - 20px)/2
  float: left


/*
 * Header + Header Nav
 * --------------------------
 */

nav
  width: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 10
  padding: 10px 0
  +secondary-background

  .logo
    float: left

  >ul
    +horizontal-list
    >li
      padding-top: 5px

      a
        text-decoration: none
        color: #fff
    li
      +horizontal-list
      margin: 0 5px

    .social-links
      float: right

      >ul
        background: #f0f



#wrapper
  width: $wrapper-width
  margin: 30px auto 0 auto

  h1
    padding: 10px 0


/*
 * Footer + Footer Nav
 * -----------------------------
 */
footer
  +secondary-background
  width: 100%
  position: fixed
  bottom: 0
  left: 0
  z-index: 10

  ul
    li
      float: left
      margin: 0 10px

