@import partials/base
@import compass/CSS3/border-radius

/*
 * Stories
 * ----------------------------
 */
#stories
  .stories-sort
    +clearfix
    width: $wrapper-width - 75px
    margin: 0 auto 0 auto
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc
    padding: 10px 10px 0 10px

    ul.stories-sort-order
      +horizontal-list
      padding: 10px 0 5px 0
      float: right
      li
        float: left
        margin: 0 10px

        a
          font-size: 12px
          color: #777
          position: relative

          &.currents, &:hover
            text-decoration: none
            font-weight: bold
            +secondary-foreground
            background: none

          &.currents
            padding-right: 15px

            span.arrow
              position: absolute
              right: 0
              width: 15px
              height: 15px

            &.asc span.arrow
              @extend .small-arrow-up

            &.desc span.arrow
              @extend .small-arrow-down

  .stories-container
    width: $wrapper-width - 40px
    margin: 10px auto 0 auto

    .story
      position: relative
      width: $wrapper-width - 60px
      padding: 10px
      margin: 5px auto

      .story-title
        h4
          font-weight: 600
          span
            font-weight: normal
            margin-left: 10px

      .story-summary
        margin: 5px 0 10px 0
        p
          line-height: 18px
      .story-footer
        position: absolute
        bottom: 0
        left: 0
        padding-top: 5px
        .story-footer-reviews
          float: left
          margin: 0 10px
        ul.story-footer-tags
          float: left
          +horizontal-list
          li
            border: 1px solid #999
            margin: 0 2px

